{
  "prepare": [
      "@semantic-release/changelog",
      "@semantic-release/npm",
      "@semantic-release/git"
  ],
  "verifyConditions": [
      "@semantic-release/changelog",
      "@semantic-release/npm",
      "@semantic-release/git",
      "@semantic-release/github"
  ],
  "plugins": [
    [
      "@semantic-release/exec", {
        "publishCmd": "npx ember deploy production --verbose"
      }
    ]
  ]
}
