<div class="wrapper">
	<component-one
		class="card"
		img-src="images/tomster.png"
		greeting="I'm a LitElement component"></component-one>

	<component-two
		class="card"
		img-src="images/wc-logo.png"
		greeting="I'm a Vanilla component"></component-two>
</div>

{{outlet}}